.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #336b87;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
  }